#info-section {
    position: relative;
    align-items: center;
    margin-top: 32px;

    & p {
        color: #e2e7e980;
        font: var(--body-md);
        padding: 80px 20px;

        & .highlight {
            font-weight: 700;
            transition: color 0.5s ease;
        }

        & .text {
            transition: color 0.5s ease;
        }
    }

    &:hover img{
        display: flex !important;
    }

    & img {
        opacity: 0;
        display: none;
        justify-content: center;
        align-items: center;
        position: absolute;
        flex-shrink: 0;
        transform: scale(0.5);
        transition: opacity 0.1s ease, transform 0.2s ease;

        &[src*='book'],
        &[src*='ball'] {
            width: 40px;
            height: 40px;
            transform: rotate(15deg);
        }
    
        &[src*='book'] {
            top: 13%;
            right: 22%;
        }
    
        &[src*='ouija'] {
            width: 32px;
            height: 32px;
            transform: rotate(-30deg);
            left: 5%;
            bottom: 17%;
        }
    
        &[src*='ball'] {
            bottom: 13%;
            right: 6%;
        }
    }


    &:hover img[src*='book'] {
        animation: fade-in-grow 0.2s ease forwards;
    }
    
    &:not(:hover) img[src*='book'] {
        animation: fade-out-shrink 0.2s ease forwards;
    }
    
    &:hover img[src*='ouija'] {
        animation: fade-in-grow 0.2s ease forwards;
        animation-delay: 0.7s;
    }
    
    &:not(:hover) img[src*='ouija'] {
        animation: fade-out-shrink 0.2s ease forwards;
    }
    
    &:hover img[src*='ball'] {
        animation: fade-in-grow 0.2s ease forwards;
        animation-delay: 1.4s;
    }
    
    &:not(:hover) img[src*='ball'] {
        animation: fade-out-shrink 0.2s ease forwards;
    }
    
    &:hover .text:nth-of-type(1) {
        color: #e2e7e9;
    }
    
    &:hover .highlight:nth-of-type(1) {
        color: #73b6d2;
    }
    
    &:hover .text:nth-of-type(2) {
        color: #e2e7e9;
        transition-delay: 0.7s;
    }
    
    &:hover .highlight:nth-of-type(2) {
        color: #73b6d2;
        transition-delay: 0.7s;
    }
    
    &:hover .text:nth-of-type(3) {
        color: #e2e7e9;
        transition-delay: 1.4s;
    }
    
    &:hover .highlight:nth-of-type(3) {
        color: #73b6d2;
        transition-delay: 1.4s;
    }
}

@keyframes fade-in-grow {
    0% {
        opacity: 0;
        transform: scale(0.5);
    }
    100% {
        opacity: 1;
        transform: scale(1);
    }
}

@keyframes fade-out-shrink {
    0% {
        opacity: 1;
        transform: scale(1);
    }
    100% {
        opacity: 0;
        transform: scale(0.5);
    }
}

@media (width >= 60em) {
    #info-section {
        padding: 96px 120px 80px 120px;
        & p {
            font: var(--subtitle);
            padding: 114px 32px 158px 32px;
        }

        & img[src*='book'] {
            width: 88px;
            height: 88px;
            top: 15%;
            right: 48%;
            transform: rotate(20.758deg);
            padding: 4px;
        }

        & img[src*='ball'] {
            width: 72px;
            height: 72px;
            bottom: 27%;
            right: 9%;
            transform: rotate(-14.483deg);
            padding: 3px;
        }

        & img[src*='ouija'] {
            width: 80px;
            height: 80px;
            left: 11%;
            bottom: 25%;
            transform: rotate(100deg);
            padding: 3;
        }
    }
}
