#subscription {
    padding: 104px 0 104px 51px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 48px;

    & h2 {
        width: 221px;
        margin-right: 51px;
    }

    & #cards {
        display: flex;
        align-items: center;
        width: 100%;
        gap: 16px;
        overflow-x: auto;
        margin-right: 51px;

        & .card {
            display: flex;
            width: 275px;
            height: 400px;
            padding: 32px 32px 28px 32px;
            flex-direction: column;
            justify-content: space-between;
            align-items: flex-start;
            border-radius: 24px;
            border: 1px solid var(--shape-stroke);
            background: var(--shape-base);
            justify-content: space-between;
            margin-bottom: 20px;

            &#biannual {
                background: var(--shape-hover);

                & h4 {
                    color: var(--pink-light) !important;
                }

                & button {
                    background: var(--pink-dark);
                }
            }

            & h4 {
                color: var(--blue-light);
                font: var(--title-xs);
            }

            & .header {
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                width: 100%;
                gap: 24px;
                flex: 1;

                & .price {
                    display: flex;
                    flex-direction: column;
                    align-items: flex-start;
                    gap: 8px;
                    align-self: stretch;
                    & h3 {
                        width: 100%;
                        color: var(--text-title);
                        font: var(--title-md);

                        & span {
                            font: var(--title-xs);
                        }
                    }

                    & p {
                        color: var(--text-label);
                        font: var(--body-sm);
                    }
                }
            }

            & .details {
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                gap: 24px;
                width: 100%;

                & button {
                    display: flex;
                    height: 40px;
                    padding: 0px 20px;
                    justify-content: center;
                    align-items: center;
                    gap: 8px;
                    align-self: stretch;
                    border-radius: 8px;
                    background: var(--blue-dark);
                    color: var(--text-title);
                    text-align: right;
                    font: var(--button);
                }

                & .decorated-lines {
                    display: flex;
                    flex-direction: column;
                    align-items: flex-start;
                    gap: 12px;
                    width: 100%;

                    & .decorated-line {
                        display: flex;
                        width: 224px;
                        align-items: center;
                        gap: 8px;

                        & img svg > path {
                            width: 14px;
                            height: 14px;
                        }

                        & P {
                            color: var(--text-body);
                            font: var(--body-xs);
                        }
                    }
                }
            }
        }
    }
}

@media (width >= 68em) {
    #subscription {
        padding: 101px 51px 195px 51px;
        position: relative;
        background: url(../assets/images/pricing-background.png) no-repeat center / cover;

        & .desktop-only {
            display: unset;
        }

        & h2 {
            margin: 0;
            z-index: 1;
        }

        & #cards {
            margin-right: 0;
            padding-top: 100px;
            gap: 0;
            justify-content: center;

            & .star {
                z-index: 1;
                position: relative;
            }

            & #star-1 {
                z-index: 1;
                top: -200px;
                right: 15px;
            }

            & #star-2 {
                z-index: 1;
                top: -170px;
                right: 50px;
            }

            & #star-3 {
                z-index: 1;
                bottom: -220px;
                left: -20px;
            }

            & #star-4 {
                z-index: 1;
                bottom: -240px;
                left: -70px;
            }

            & .background-blur {
                position: absolute;
                width: 944px;
                height: 944px;
                border-radius: 50%;
                top: auto;
                left: auto;
                right: auto;
                bottom: auto;
                background: var(--shape-base);
                filter: blur(284px);
                z-index: 0;
            }

            & .card {
                width: 288px;
                height: 416px;
                z-index: 1;
            }

            & #monthly {
                transform: rotate(-8deg);
            }

            & #biannual {
                z-index: 2;
                margin-bottom: 150px;
                position: relative;

                & #bunny-img {
                    position: absolute;
                    top: 0;
                    transform: translateY(-100%);
                }

                & #tag {
                    position: absolute;
                    right: 24px;
                    top: 23px;
                    display: flex;
                    padding: 9px 20px;
                    justify-content: center;
                    align-items: center;
                    gap: 8px;
                    border-radius: 999px;
                    background: var(--shape-stroke);

                    & p {
                        font: var(--tag) !important;
                        color: var(--text-body);
                        text-align: center;
                    }
                }
            }

            & #annual {
                transform: rotate(8deg);
            }
        }
    }
}
